# Исключить папки среды разработки
venv/
__pycache__/
*.pyc

# Исключить зависимости для Node.js (если используются)
node_modules/

# Исключить файлы IDE
.idea/
*.iml

# Исключить данные и конфиденциальные файлы
*.env
*.sqlite3
