{% load custom_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Редактирование профиля</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7-beta.17/jquery.inputmask.min.js"></script>
    <style>
        .error-glow {
            box-shadow: 0 0 5px red;
        }
        .alert-error {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
        }
        .alert {
            width: 100%;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mt-5">
            <h1>Редактирование профиля</h1>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Меню
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'profile_edit' %}">Редактирование профиля</a>
                    <a class="dropdown-item" href="{% url 'change_password' %}">Изменение пароля</a>
                </div>
            </div>
        </div>
        {% if messages %}
        <div class="mt-3">
            {% for message in messages %}
            <div class="alert {% if message.tags == 'alert-danger' %}alert-error{% else %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        <form method="post" novalidate id="profileForm">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Имя пользователя</label>
                {{ user_form.username|add_class:"form-control" }}
                {% if user_form.username.errors %}
                    <div class="invalid-feedback d-block">{{ user_form.username.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_last_name">Фамилия</label>
                {{ user_form.last_name|add_class:"form-control" }}
                {% if user_form.last_name.errors %}
                    <div class="invalid-feedback d-block">{{ user_form.last_name.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_first_name">Имя</label>
                {{ user_form.first_name|add_class:"form-control" }}
                {% if user_form.first_name.errors %}
                    <div class="invalid-feedback d-block">{{ user_form.first_name.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_middle_name">Отчество</label>
                {{ user_form.middle_name|add_class:"form-control" }}
                <div class="form-check mt-2">
                    {{ user_form.no_middle_name|add_class:"form-check-input" }}
                    <label class="form-check-label" for="id_no_middle_name">Нет отчества</label>
                </div>
            </div>
            <div class="form-group">
                <label for="id_phone_number">Номер телефона</label>
                {{ user_form.phone_number|add_class:"form-control" }}
            </div>
            {% if is_operator %}
            <div class="form-group">
                <label for="id_category">Категория</label>
                {{ user_form.category|add_class:"form-control" }}
            </div>
            {% endif %}
            <div class="form-group">
                <label for="id_email">Электронная почта</label>
                {{ user_form.email|add_class:"form-control" }}
                {% if user_form.email.errors %}
                    <div class="invalid-feedback d-block">{{ user_form.email.errors }}</div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
            <a href="{% url 'dashboard' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
        // Маска для ввода номера телефона
        $("#id_phone_number").inputmask("+7 (999) 999-99-99");

        // Подсветка полей с ошибками при загрузке формы
        $('#profileForm').find(':input[required]').each(function() {
            if (!this.value) {
                $(this).addClass('error-glow');
            }
        });

        // Подсветка полей с ошибками при отправке формы
        $('#profileForm').on('submit', function() {
            var isValid = true;
            var middleNameField = $('#id_middle_name');
            var noMiddleNameChecked = $('#id_no_middle_name').is(':checked');

            // Проверка для поля отчества
            if (!middleNameField.val() && !noMiddleNameChecked) {
                middleNameField.addClass('error-glow');
                isValid = false;
            } else {
                middleNameField.removeClass('error-glow');
            }

            // Общая проверка для всех обязательных полей
            $(this).find(':input[required]').each(function() {
                if (!this.value) {
                    $(this).addClass('error-glow');
                    isValid = false;
                } else {
                    $(this).removeClass('error-glow');
                }
            });

            if (!isValid) {
                $('#errorMessage').remove();
                $('<div id="errorMessage" class="alert alert-error mt-3">Не все обязательные поля заполнены!</div>').insertAfter('.d-flex.justify-content-between.align-items-center');
                $('html, body').animate({ scrollTop: 0 }, 'slow');
            }
            return isValid;
        });

        // Удаление подсветки при изменении значения в поле
        $(this).find(':input').on('input', function() {
            if (this.value) {
                $(this).removeClass('error-glow');
            }
        });

        // Обработка поля "Отчество" при выборе опции "Нет отчества"
        function toggleMiddleNameField() {
            if ($('#id_no_middle_name').is(':checked')) {
                $('#id_middle_name').prop('disabled', true).val('').removeClass('error-glow');
            } else {
                $('#id_middle_name').prop('disabled', false);
            }
        }

        // Событие изменения состояния чекбокса "Нет отчества"
        $('#id_no_middle_name').change(function() {
            toggleMiddleNameField();
        });

        // Инициализация состояния поля "Отчество" при загрузке страницы
        toggleMiddleNameField();
    });
    </script>
</body>
</html>
