<!DOCTYPE html>
<html>
<head>
    <title>Просмотр заявки</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .form-control[disabled] {
            background-color: #fff;
            opacity: 1;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Просмотр заявки</h1>
        {% if messages %}
        <div class="mt-3">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        <form method="get" novalidate>
            <div class="form-group">
                <label for="id_category">Категория</label>
                <input type="text" class="form-control" value="{{ form.instance.get_category_display|default_if_none:'' }}" disabled>
            </div>
            <div class="form-group">
                <label for="id_last_name">Фамилия</label>
                <input type="text" class="form-control" value="{{ form.instance.last_name|default_if_none:'' }}" disabled>
            </div>
            <div class="form-group">
                <label for="id_first_name">Имя</label>
                <input type="text" class="form-control" value="{{ form.instance.first_name|default_if_none:'' }}" disabled>
            </div>
            <div class="form-group">
                <label for="id_middle_name">Отчество</label>
                <input type="text" class="form-control" value="{{ form.instance.middle_name|default_if_none:'' }}" disabled>
            </div>
            <div class="form-group">
                <label for="id_contact_phone">Контактный телефон</label>
                <input type="text" class="form-control" value="{{ form.instance.contact_phone|default_if_none:'' }}" disabled>
            </div>
            <div class="form-group">
                <label for="id_street">Улица</label>
                <input type="text" class="form-control" value="{{ form.instance.street.name|default_if_none:'' }}" disabled>
            </div>
            <div class="form-group">
                <label for="id_building">Здание</label>
                <input type="text" class="form-control" value="{{ form.instance.building|default_if_none:'' }}" disabled>
            </div>
            <div class="form-group">
                <label for="id_room">Помещение</label>
                <input type="text" class="form-control" value="{{ form.instance.room|default_if_none:'' }}" disabled>
            </div>
            <div class="form-group">
                <label for="id_email">Адрес электронной почты</label>
                <input type="text" class="form-control" value="{{ form.instance.email|default_if_none:'' }}" disabled>
            </div>
            <div class="form-group">
                <label for="id_primary_repair_type">Вид ремонта</label>
                <input type="text" class="form-control" value="{{ form.instance.primary_repair_type.name|default_if_none:'' }}" disabled>
            </div>
            {% if form.instance.secondary_repair_type %}
            <div class="form-group">
                <label for="id_secondary_repair_type">Тип ремонта</label>
                <input type="text" class="form-control" value="{{ form.instance.secondary_repair_type.name|default_if_none:'' }}" disabled>
            </div>
            {% endif %}
            <div class="form-group">
                <label for="id_short_description">Краткое описание проблемы</label>
                <input type="text" class="form-control" value="{{ form.instance.short_description|default_if_none:'' }}" disabled>
            </div>
            <div class="form-group">
                <label for="id_description">Описание проблемы</label>
                <textarea class="form-control" disabled>{{ form.instance.description|default_if_none:'' }}</textarea>
            </div>
            <div class="form-buttons">
                <a href="{% url 'dashboard' %}" class="btn btn-secondary">Отмена</a>
                {% if is_operator %}
                <a href="{% url 'request_update' form.instance.pk %}" class="btn btn-primary">Редактировать</a>
                {% endif %}
            </div>
        </form>
    </div>
</body>
</html>
